
<ion-content  padding center text-center >
  <ion-img class="logo" src="./assets/Capture.png"></ion-img>
  <ion-list>
    <ion-item style="margin-bottom: 10px">
      <ion-input type="text" placeholder="Username" (input)="username = $event.target.value"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input type="password" placeholder="Password" (input)="password = $event.target.value"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="primary" (click)="login()">
    LOGIN
  </ion-button>
  </ion-content>
