<ion-header>
  <ion-toolbar>
    <ion-title>
      COMPRAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      
      <ion-card-header img src="/assets/shapes.svg" alt="" >
        <ion-card-title >LISTA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <li>
      <ion-item>
        <ion-button expand="full" color="write"  [routerLink]="['/']">
        <ion-icon  color="dark" name="home"></ion-icon>
        </ion-button>
        <ion-button expand="full" color="write">
        <ion-icon slot="start" color="dark" name="save"></ion-icon>
        </ion-button>
        <ion-button expand="full" color="write">
        <ion-icon slot="start" color="dark" name="create"></ion-icon>
        </ion-button>
        <ion-button expand="full" color="write">
         <ion-icon slot="start" color="dark" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Empresa</ion-label>
        <ion-input [(ngModel)]="newItem.empresa"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label position="fixed">Direccion</ion-label>
        <ion-input [(ngModel)]="newItem.direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Monto</ion-label>
        <ion-input [(ngModel)]="newItem.monto"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label position="fixed">Celular</ion-label>
        <ion-input [(ngModel)]="newItem.celular"></ion-input>
      </ion-item>
     
      <ion-button expand="full" (click)="addItem()">AGREGAR COMPRA</ion-button>
     
      <ion-list #mylist>
     
        <ion-list-header>
          <ion-label>My Items</ion-label>
        </ion-list-header>
     
        <ion-item-sliding *ngFor="let item of items">
     
          <ion-item>
            <ion-label text-wrap>
              <ion-text color="secondary">
                <p>{{ item.empresa }}</p>
              </ion-text>
              <p>{{ item.direccion}}</p>
              <p>{{ item.monto }}</p>
              <p>{{ item.celular}}</p>
            </ion-label>
          </ion-item>
     
          <ion-item-options side="end">
            <ion-item-option color="secondary" (click)="updateItem(item)">Update</ion-item-option>
            <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
     
      </ion-list>
      



    </ion-list>
</ion-content>

