<ion-header>
  <ion-toolbar>
    <ion-title>
      DEUDAS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">

    <ion-card>
      <img src="./assets/icon/frio.jpg"/>
      <div class="card-title">DISTRIBUIDORA SAN JORGE</div>
      <div></div>
      <div class="card-subtitle">S/.800.00</div>
    </ion-card>
  
    <ion-card>
      <img src="./assets/icon/noche.jpg"/>
      <div class="card-title">ROPA ADIDAS</div>
      <div class="card-subtitle">S/. 300.00</div>
    </ion-card>
  
    <ion-card>
      <img src="./assets/icon/pa.jpg"/>
      <div class="card-title">SR. MENDOZA</div>
      <div class="card-subtitle">S/.1200.00</div>
    </ion-card>
  
    <ion-card>
      <img src="./assets/icon/playa.jpg"/>
      <div class="card-title">MADISON SOTO</div>
      <div class="card-subtitle">S/.700.00</div>
    </ion-card>

    <ion-card>
        <img src="./assets/icon/puente.jpg"/>
        <div class="card-title">DENTISTA LUCAS</div>
        <div class="card-subtitle">S/. 50.00</div>
      </ion-card>
    
      <ion-card>
        <img src="./assets/icon/sol.jpg"/>
        <div class="card-title">ABARROTES SAN JUAN</div>
        <div class="card-subtitle">S/. 90.00</div>
      </ion-card>
    
      <ion-card>
        <img src="./assets/icon/solo.jpg"/>
        <div class="card-title">JUGUERIA MERLY</div>
        <div class="card-subtitle">S/.90.00</div>
      </ion-card>
    
      <ion-card>
        <img src="./assets/icon/playa.jpg"/>
        <div class="card-title">CAFETERIA PEREZ</div>
        <div class="card-subtitle">S/. 90.00</div>
      </ion-card>
  
  </ion-content>

